# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\rt\Research Sector\Data Analysis Division\Python Study\PycharmProjects\Tic-Tac-Toe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
